<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--        对应要动态代理的接口-->
<mapper namespace="org.example.mapper.RoleMapper">

    <resultMap id="baseMap" type="org.example.model.Role">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="note" column="note"/>
        <collection property="users"   column="id" fetchType="lazy"
                    select="org.example.mapper.UserMapper.getUsersByRid"/>

    </resultMap>

  <insert id="insertRole" parameterType="role">
       insert into t_role (role_name ,note )
         values (#{roleName} ,#{note})
  </insert>

    <delete id="deleteRole"  parameterType="long">
        delete from  t_role where id=#{id}
    </delete>

    <update id="updateRole" parameterType="role">
        <!--set元素遇到逗号会自动去除逗号，使用这种做法可以避免更新全部字段-->
         update t_role
              <set>
                  <if test="roleName!=null and roleName!=''">
                       role_name =#{roleName},
                  </if>
                  <if test="note!=null and  note!=''">
                      note=#{note}
                  </if>
              </set>
               where id=#{id}
    </update>

    <select id="getRole" parameterType="long" resultMap="baseMap">
        select id,role_name as roleName ,note from t_role where id=#{id}
    </select>

    <!--动态sql测试-->
    <select id="findRoles" parameterType="string" resultType="role">
         select id ,role_name as roleName ,note from t_role
<!--         where 1=1  这种方式比较奇怪-->
<!--        <if test="roleName !=null and roleName!=''">-->
<!--            and role_name like concat(%',#{roleName},'%')-->
<!--        </if>-->
         <where>
             <if test="roleName != null and  roleName !=''">
                 and role_name like concat('%',#{roleName},'%')
             </if>
<!--             <if test="note !=null and note !='' ">-->
<!--                 and note like concat('%',#{note},'%')-->
<!--             </if>-->
         </where>
    </select>

    <select id="findRolesByUid" parameterType="long" resultMap="baseMap">
        select r.id , r.role_name ,r.note from t_role r ,t_user_role ur
               where  r.id = ur.rid and ur.uid=#{uid}
    </select>

    <!--使用动态SQL 的foreach in会损耗大量性能，所以要预估collection的长度，避免类似问题-->
    <select id="findRolesByIds" resultMap="baseMap">
         select * from t_role where id in
           <foreach collection="ids" index="index" item="id"
                     open="(" separator="," close=")">
               #{id}
           </foreach>
    </select>

    <!--开启二级缓存-->
    <cache/>


</mapper>