<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.EmployeeTaskMapper">

    <resultMap id="baseMap" type="org.example.model.EmployeeTask">
         <id property="id" column="id"/>
         <result property="empId" column="emp_id"/>
         <result property="taskId" column="task_id"/>
         <result property="taskName" column="task_name"/>
         <result property="note" column="note"/>
         <!--一对一级联 任务表-->
         <association property="task" column="task_id"
                       select="org.example.mapper.TaskMapper.getTaskById"/>
    </resultMap>

    <sql id="sqlBase">
        id,emp_id,task_id,task_name,note
    </sql>

    <insert id="insertRecord" parameterType="org.example.model.EmployeeTask">
         insert into t_employee_task values
          (#{id},#{empId},#{taskId},#{taskName},#{note})
    </insert>

    <select id="selectRecordById" parameterType="long" resultMap="baseMap">
        select <include refid="sqlBase"/> from t_employee_task where id=#{id}
    </select>


    <select id="findEmployeeTasksByEmpId" parameterType="long" resultMap="baseMap">
         select <include refid="sqlBase"/> from t_employee_task where emp_id=#{id}
    </select>
</mapper>