<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--配置时顺序不能颠倒-->
<configuration>
    <!--设置属性,可以从Properties文件导入，使用el表达式引入-->
<!--    <properties resource=""/>-->

<!--    https://mybatis.org/mybatis-3/-->
    <settings>
        <!--全局的懒加载配置-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <typeAliases> <!--设置别名-->
         <typeAlias type="org.example.model.Role" alias="role"/>
    </typeAliases>

<!--    <typeHandlers>  &lt;!&ndash; 设置类型转换器&ndash;&gt;-->
<!--    &lt;!&ndash;导入自定义类型转换器，使用时通过resultMap&ndash;&gt;-->
<!--   <typeHandler handler="org.example.typehandler.CustomTypeHandler" jdbcType="VARCHAR" javaType="string"/>-->

<!--    </typeHandlers>-->
    <objectFactory type="org.example.objectfactory.CustomObjectFactory">
        <property name="prop1" value="value1"/>
    </objectFactory><!--对象工厂-->
<!--    设置插件-->
    <plugins>
<!--        <plugin interceptor="org.example.interceptor.CustomPlugin">-->
<!--            <property name="hello" value="world"/>-->
<!--        </plugin>-->

        <plugin interceptor="org.example.page.PagePlugin">
            <property name="default.page" value="1"/>
            <property name="default.pageSize" value="20"/>
            <property name="default.useFlag" value="true"/>
            <property name="default.checkFlag" value="false"/>
            <property name="default.cleanOrderBy" value="false"/>
        </plugin>
    </plugins>


    <!--数据库环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/backend"/>
                <property name="username" value="root"/>
                <property name="password" value="cjg1210cjg"/>
            </dataSource>
        </environment>
    </environments>
<!--    <databaseIdProvider type=""/>  &lt;!&ndash;数据库厂商的标识&ndash;&gt;-->
    <mappers>
        <mapper resource="mapper/EmployeeMapper.xml"/>
        <mapper resource="mapper/WorkCardMapper.xml"/>
        <mapper resource="mapper/TaskMapper.xml"/>
        <mapper resource="mapper/EmployeeTaskMapper.xml"/>
        <mapper resource="mapper/MaleHealthFormMapper.xml"/>
        <mapper resource="mapper/FemaleHealthFormMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/RoleMapper.xml"/>
    </mappers>
</configuration>